@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
    <div class="scopehud @( IsOnScope ? "" : "hide")">
        <div class="scopeinfo">
            <p>
                @((GunnerCamera.FieldOfView < 50) ? "6X" : "2X")
            </p>
        </div>
        <div class="toprighthud">
            <p>C:Toggling Zoom</p>
        </div>
    </div>
</root>

@code
{
    [Property] public CameraMovement CameraMovement { get; set; }
    [Property] public CameraComponent GunnerCamera { get; set; }
    [Property] public TankController Tank{ get; set; }
    [Property] public bool IsOnScope { get; set; }
    protected override void OnUpdate()
    {
        base.OnUpdate();
        if (CameraMovement.CameraMode == 2)
        {
            IsOnScope = true;
        }
        else IsOnScope = false;
    }

    protected override int BuildHash()
    { 
        return System.HashCode.Combine(Tank.Health,CameraMovement.CameraMode,GunnerCamera.FieldOfView);
    } 
}
